<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header') %>
    <script>
        function check_Items(){
            var name = document.getElementById("problemName");
            var content = document.getElementById("problemContent");
            var T_input = document.getElementById("problemTestInput");
            var T_output = document.getElementById("problemTestOutput");
            var input = document.getElementById("problemInputCase");
            var output = document.getElementById("problemOutputCase");
            
            console.log(name.value);
            var form = document.getElementById("addproblem_form");
            if(name.value.length == 0 || content.value.length == 0 || T_input.value.length == 0 || T_output.value.length == 0 || input.value.length == 0 || output.value.length == 0){
                return;
            }
            form.submit();
        }
    </script>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-2">
                <form class="text-left" action="/problem/register" method="post" id="addproblem_form">
                    <div class="reg-page"> <h2>문제 출제</h2> </div>

                    <div class="form-group">
                        <label for="problemName" class="sr-only">제목</label>
                        <input type="text" placeholder="제목" class="form-control" id="problemName" name="problemName" autofocus="autofocus" required>
                    </div>
                    <div class="form-group">
                        <label for="problemContent" class="sr-only">내용</label>
                        <input type="text" placeholder="내용" class="form-control" name="problemContent" id="problemContent" required>
                    </div>
                    <div class="form-group">
                        <label for="problemTestInput" class="sr-only">예제 입력</label>
                        <input type="text" placeholder="예제 입력" class="form-control" name="problemTestInput" id="problemTestInput" required>
                    </div>
                    <div class="form-group">
                        <label for="problemTestOutput" class="sr-only">예제 출력</label>
                        <input type="text" placeholder="예제 출력" class="form-control" name="problemTestOutput" id="problemTestOutput" required>
                        <!-- <div class="" contenteditable="true" id="testOutput"></div> -->
                    </div>
                    <div class="form-group">
                        <label for="problemInputCase" class="sr-only">전체 입력 데이터</label>
                        <input type="text" placeholder="입력 데이터" class="form-control" id="problemInputCase" name="problemInputCase" enctype="multipart/form-data" required>
                    </div>
                    <div class="form-group">
                        <label for="problemOutputCase" class="sr-only">전체 출력 데이터</label>
                        <input type="text" placeholder="출력 데이터" class="form-control" name="problemOutputCase" id="problemOutputCase" enctype="multipart/form-data" required>
                    </div>
                    <div class="form-group">
                        <label for="problemLimitSecond" class="sr-only">시간 제한</label>
                        <input type="text" placeholder="시간 제한" class="form-control" name="problemLimitSecond" id="problemLimitSecond" enctype="multipart/form-data" required>
                    </div>
                    <div class="form-group">
                        <label for="problemLimitMemory" class="sr-only">메모리 제한</label>
                        <input type="text" placeholder="메모리 제한" class="form-control" name="problemLimitMemory" id="problemLimitMemory" enctype="multipart/form-data" required>
                    </div>
                </form>
                <div class="form-group">
                    <button class="btn btn-primary" onclick="check_Items()"> 저장 </button>
                    <button class="btn btn-secondary" onclick="javascript:history.back()"> 뒤로가기 </button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>