<!DOCTYPE html>

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <h1> <%= userinfo.userId %> </h1>
                <blockquote class="no-mathjax"><%= userinfo.userEmail %></blockquote>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" style="height: auto !important; min-height: 0px !important;"> 
                        <table class="table table-hover">
                            <thead>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <td>랭킹</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>맞은문제</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>제출</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>맞았습니다</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>출력형식</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>틀렸습니다</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>시간초과</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>메모리초과</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>출력초과</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>런타임에러</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>컴파일에러</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>학교/회사</td>
                                <td>1</td>
                            </tbody>
                            <tbody>
                                <td>랭킹</td>
                                <td>1</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-9"> 
                        <div class="panel panel-default">
                            <div class="panel-heading"> <h3 class="panel-title">성공</h3> </div>
                            <div class="panel-body">
                                <span class="problem_number"><a href="#"  style="color: rgb(0, 255, 157)">1000</a></span>
                                <span class="problem_number"><a href="#">1000</a></span>
                                <span class="problem_number"><a href="#">1000</a></span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading"> <h3 class="panel-title">실패</h3> </div>
                            <div class="panel-body">
                                <span class="problem_number"><a href="#"  style="color: rgb(255, 60, 0)">1000</a></span>
                                <span class="problem_number"><a href="#">1000</a></span>
                                <span class="problem_number"><a href="#">1000</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>