<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/nav') %>

    <% if(err){ %>
        <span class="name"> User Validate Error !</span>
    <% } %>

    <div class="container content">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <form id="login-form" class="text-left" action="/login" method="post">
                    <div class="reg-page"> <h2>로그인</h2></div>
                    <div class="form-group">
                        <label for="userId" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="ID">
                    </div>
                    <div class="form-group">
                        <label for="userPassword" class="sr-only">Password</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="password">
                    </div>
                    <div class="form-group">
                        <div>
                            <input type="checkbox" id="lg_remember" name="lg_remember">
                            <label for="lg_remember">remember</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">로그인</button>
                        <button class="btn btn-secondary" onclick="javascript:history.back()"> 뒤로가기 </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>