<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header') %>
    <script>
        function submit(){
            var progress = document.getElementById("progressbar");
            var rb = document.getElementById("rbutton");
            var uid = document.getElementById("userId");
            var pw = document.getElementById("userPassword");
            var vpw = document.getElementById("userVPassword");
            var email = document.getElementById("userEmail");

            if(uid.value.length < 4 || pw.value != vpw.value || email.value.length <= 7){
                return;
            }
            if(!rb.classList.contains("disabled")){
                rb.classList.add("disabled");
                progress.classList.remove("hidden");
                var form = document.getElementById("register-form");
                form.submit();
            }
        }
    </script>
</head>

<body>
    <%- include('../partials/nav') %>
    <% if(err){ %>
    <span class="name"> Password Validate Error !</span>
    <% } %>

    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form id="register-form" class="text-left" action="/register" method="post">
                    <div class="reg-page"> <h2>회원가입</h2></div>
                    
                    <div class="form-group">
                        <label for="userId" class="sr-only">아이디</label>
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="ID">
                    </div>

                    <div class="form-group">
                        <label for="userPassword" class="sr-only">비밀번호</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="password">
                    </div>

                    <div class="form-group">
                        <label for="userVPassword" class="sr-only">비밀번호 확인</label>
                        <input type="password" class="form-control" id="userVPassword" name="userVPassword" placeholder="password confirm">
                    </div>
                    <div class="form-group">
                        <label for="userMessage" class="sr-only">표어</label>
                        <input type="text" class="form-control" id="userMessage" name="userMessage" placeholder="대회 1등을 노리자!">
                    </div>

                    <div class="form-group">
                        <label for="userEmail" class="sr-only">E-mail</label>
                        <input type="email" class="form-control" id="userEmail" name="userEmail"
                            placeholder="abcd@google.com">
                    </div>

                    <div class="form-group">
                        <label for="userCompany" class="sr-only">학교 또는 회사(소속)</label>
                        <input type="text" class="form-control" id="userCompany" name="userCompany"
                            placeholder="학교 또는 회사(소속)">
                    </div>

                </form>
                <div>
                    <div id="progressbar" class="progress hidden">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        잠시만 기다려 주세요</div>
                    </div>
                    <button class="btn btn-primary" id="rbutton" onclick="submit()">회원가입</button>
                    <button class="btn btn-secondary" onclick="history.back(-1);" > 취소 </button>
                    
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>