<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <% if(err){ %>
    <span class="name"> Password Validate Error !</span>
    <% } %>

    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form id="register-form" class="text-left" action="/register" method="post">
                    <div class="reg-page"> <h2>회원가입</h2></div>
                    
                    <div class="form-group">
                        <label for="userId" class="sr-only">아이디</label>
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="ID">
                    </div>

                    <!-- <div class="form-group">
                        <label for="lg_message" class="sr-only">상태메시지</label>
                        <input type="text" class="form-control" id="lg_message" name="lg_message"
                            placeholder="message">
                    </div> -->

                    <div class="form-group">
                        <label for="userPassword" class="sr-only">비밀번호</label>
                        <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="password">
                    </div>

                    <div class="form-group">
                        <label for="userVPassword" class="sr-only">비밀번호 확인</label>
                        <input type="password" class="form-control" id="userVPassword" name="userVPassword" placeholder="password confirm">
                    </div>
                    <!-- <div class="form-group">
                        <label for="lg_belonging" class="sr-only">학교 또는 회사(소속)</label>
                        <input type="text" class="form-control" id="lg_belonging" name="lg_belonging"
                            placeholder="학교 또는 회사(소속)">
                    </div> -->

                    <div class="form-group">
                        <label for="userName" class="sr-only">유저 이름</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="홍길동">
                    </div>

                    <div class="form-group">
                        <label for="userEmail" class="sr-only">E-mail</label>
                        <input type="email" class="form-control" id="userEmail" name="userEmail"
                            placeholder="abcd@google.com">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary register-button">회원가입</button>
                        <input type="button" value="뒤로가기" onclick="history.back(-1);" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>