<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header') %>
    <script>
        function check(obj) {
            var list1 = document.getElementById("list1");
            var list2 = document.getElementById("list2");
            var list3 = document.getElementById("list3");
            var list4 = document.getElementById("list4");

            if (obj == "list1") {
                list1.classList.add('active')
                list2.classList.remove('active')
                list3.classList.remove('active')
                list4.classList.remove('active')
            } else if (obj == "list2") {
                list1.classList.remove('active')
                list2.classList.add('active')
                list3.classList.remove('active')
                list4.classList.remove('active')
            } else if (obj == "list3") {
                list1.classList.remove('active')
                list2.classList.remove('active')
                list3.classList.add('active')
                list4.classList.remove('active')
            } else {
                list1.classList.remove('active')
                list2.classList.remove('active')
                list3.classList.remove('active')
                list4.classList.add('active')
            }
        }

        function submit_check(obj) {
            console.log(obj);
            if (obj == 'submit') {
                var code = document.getElementById('code');
                var tcode = document.getElementById('tcode');
                tcode.value = code.innerText;
                code.innerText = "";
                console.log(tcode.value)
                var form = document.getElementById("form");
                form.submit();
            } else {
                
                window.history.back();
            }
        }
    </script>
</head>

<body>
    <div class="wrapped">
        <%- include('../partials/nav') %>

        <div class="container content mb-20" style="height: auto !important;">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills" style="margin-bottom:20px;">
                        <li id="list1" role="presentation" onclick="check('list1')"> <a href="#">문제번호</a></li>
                        <li id="list2" role="presentation" class="active" onclick="check('list2')"> <a href="#">제출</a>
                        </li>
                        <li id="list3" role="presentation" onclick="check('list3')"> <a href="#">채점현황</a></li>
                        <li id="list4" role="presentation" onclick="check('list4')"> <a href="#">맞은사람</a></li>
                    </ul>
                </div>

                <div class="col-md-12">
                    <form id="form" action="/submit" method="post" class="form-horizontal">
                        <div class="row">
                            <legend> 문제 </legend>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="language">언어</label>
                                <div class="col-md-10" style="margin-top:7px;">
                                    <select id="language" name="language">
                                        <option value="1">C</option>
                                        <option value="2">C++</option>
                                        <option value="3">Java</option>
                                        <option value="4">Open JDK 11</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="code-open">소스코드 공개</label>
                                <div class="col-md-10" style="margin-top:7px;">
                                    <select id="code-open" name="code-open">
                                        <option value="1">공개</option>
                                        <option value="2">비공개</option>
                                        <option value="3">맞았을때만 공개</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="code"> 소스 코드</label>
                                <div class="col-md-10" style="margin-top:7px;">
                                    <input name="tcode" id="tcode" type="text" style="display: none;" />
                                    <div id="code" contenteditable="true"
                                        style="border:1px solid gray; width: 60%; height: 400px;">
                                    </div>
                                </div>
                            </div>

                            <!-- <button class="col-md-offset-2 col-md-10 btn btn-primary" id="signUp" type="button" onclick="submit_check()">제출</button> -->
                            <!-- <button class="col-md-offset-2 col-md-10 btn btn-primary" id="signUp" type="submit">제출</button> -->
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <button class="col-md-2 btn btn-primary" id="signUp"
                                        onclick="submit_check('submit')">제출</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>